body{
    margin:0px;
    font-family:Roboto Condensed ;
    color: #000000;
}

#map{
    position: absolute;
    width:100%;
    height:100%;
}

#searchForm {
    margin-left:20px;
    margin-top:20px;
    position: fixed;
    z-index: 5;
    background:#454543;
    width: 400px;
    height: 80px;
    border-radius:  5px;
    box-shadow: 0 8px 10px 2px rgba(0,0,0,0.5);
}
#searchSubmit{
    display: inline-block;
    font-family: Roboto Condensed,sans-serif;
    font-size: 11px;
    color: rgb(205,216,228);
    text-shadow: 0 -1px rgb(46,53,58);
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 1px 1.2em;
    outline: none;
    border: 1px solid rgba(33,43,52,1);
    border-radius: 3px;
    background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
    box-shadow:
        inset 0 1px rgba(101,114,126,1),
        inset 0 0 1px rgba(140,150,170,.8),
        0 1px rgb(83,94,104),
        0 0 1px rgb(86,96,106);
    height: 40px;
    position: relative;
    bottom: 5px;

}
#searchSubmit:active{

    box-shadow:
        inset 0 1px 3px rgba(0,10,20,.5),
        0 1px rgb(83,94,104),
        0 0 1px rgb(86,96,106);
}
#searchSubmit:hover{
    background: rgb(70,70,83) linear-gradient(rgb(81,92,102), rgb(50,62,70));
    cursor: pointer;

}

#searchInput{
    width: 230px;
    height: 35px;
    border-radius:  5px;
    margin-right: 20px;
    font-size: 14px;
    background: linear-gradient(to top left, #f6f2de, #f6f2de);
    position: relative;
    bottom: 5px;
    left: 13px;
    padding-left:5px ;

}

#card{
    background: #ffffff;
    position: fixed;
    margin-left:20px;

    margin-top:120px;
    width: 350px;
    height:78%;
    background: #f6f2de;
    border-radius:  5px ;


}
#organization{
    text-align: left;
    vertical-align: middle;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius:  5px ;
    height: 50px;

}
#cardField {
    position: absolute;

    width: 350px;
    height:90%;
    box-shadow: 2px 8px 10px 2px rgba(0,0,0,0.5);
    border-radius:  5px ;
    padding-top: 20px;

    overflow-x: hidden;

}
img {
    height: 40px;
    width: 40px;
    padding: 5px;
    position:relative;
    top: 15px;
    left: 13px;
}
h2{
    padding: 9px;
}
#cardOpen{
    width: 350px;
    height: 738px;
    margin: 20px;
    background: #f6f2de ;
    font-family:  Roboto Condensed;
    padding: 6px;
    padding-top: 0px;
    padding-left: 46px;
    box-shadow: 0 8px 10px 2px rgba(0,0,0,0.5);
    position: absolute;
    left: 120px;
    top: 104px;
    border-radius:  5px ;
}
.font1{
    font-size: 10px;
    color: #B4B4AF;
}
.font2{
    font: 24px "Roboto Condensed";

}

.fontAmount{
    text-align: left;
    font-size: 16px;
    color: #999;
}

.close{
    position: absolute;
    top: 3px;
    bottom: 185px;
    left: 322px;
    height: 15px;
    width: 15px;
    cursor: pointer;


}
.close1{
    bottom: 90px;
    left: 320px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.littleCard {
    padding: 10px 15px 12px 0;
    border-bottom: 1px solid #CFCFCF ;

}
.littleCard:hover {
    padding: 10px 15px 12px 0;
    background: #ADD8E6 ;
    cursor: pointer;
}
.littleCard_address {

    margin: 0 0 6px 48px;
    display: inline;
    color: #666;
    font: 16px/17px Helvetica,Arial;
}
.littleCard_icon {
    position: relative;
    top: 12px;
    left: 12px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #828282 ;
}
.littleCard_name {
    font: 16px "Roboto Condensed";
    color: #079;
    text-decoration: none;
    position: relative;
    left: 25px;
    margin: 0 0 9px 2px;
    padding-right: 15px;
}

.cheat{
    visibility: hidden;
    position: relative;
}

#cardField::-webkit-scrollbar {
    width: 1em;
}

#cardField::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#cardField::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: gray;
}

.font3{
    font: 24px "Roboto Condensed";

}
.cardError{
    background-image:url(../images/error.png)  ;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 7px;
    padding-top: 80px;
    width: 330px;
    height:50%;
   
}

