<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>Maps</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		
        <script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full" data-id="dgLoader"></script>
		
        <script type="text/javascript">
            var map;

            DG.then(function () {
                map = DG.map('map', {
                    "center": [55.03,82.92],
                    "zoom": 15
                });


  DG.control.location({position: 'bottomright'}).addTo(map);
                DG.control.scale().addTo(map);
                DG.control.ruler({position: 'bottomleft'}).addTo(map);
                DG.marker([54.98, 82.89]).addTo(map).bindPopup('Выбранно!   ');
            });
        </script>
    </head>
    <body>
	
	
<div id="map"  >



<div id="formS">   
	<form method="POST">
		<img src="logo-2gis.png">
		<input type="text" pattern="^[А-Яа-яЁё\s]+$" name="search" id="search"  autofocus placeholder="Введите организацию либо адрес" >
		<input type="submit" value="Поиск" id="submit" >

	</form>
</div>

</div>  


<div id="carta" class="carta">
	<div id="org">
		<h2>Организации</h2>
	</div>
<div id="baza">


</div>

</div>



</body>
</html>


