<!DOCTYPE html>
<html>
<head>

    <link href="../../../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../../../css/card.css" rel="stylesheet" type="text/css" />
    <link href="../../../css/font.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Администратор</title>
</head>
<body class="adminBody">


<div id="content">

<img src="../../../images/logoAdmin.png" class="logoAdmin">

    <br>
    <input type="button" class="knopka" value="Первая кнопка"><br>
    <input type="button" class="knopka" value="Вторая кнопка"><br>
    <input type="button" class="knopka" value="Третья кнопка"><br>
    <input type="button" class="knopka" value="Четвёртая кнопка"><br>
   <a href="http://2gis.ru/novosibirsk/zoom/11"> <input type="button" class="knopka" value="Посмотреть на шедвр"></a>

    <div class="cardPrint">
    <div id="cardOpen" >

        <p class="font2"> Эвалар, сеть аптек</p>
        <p>Скидка 20% в выходные на всю продукцию компании «Эвалар»!


        <p class="font1">Имеются противопоказания, необходимо ознакомиться с инструкцией по применению.</p>

        <a href="">9 Гвардейской Дивизии, 25</a>
        <p class="font1">1 этаж;</p>

        <p>
            Ежедневно 08:00–22:00</p><p class="font1">
        Открыто</p><p>
        8-800-200-5Посмотреть телефон</p>
        <p><a href="evalar.ru">evalar.ru</a></p>

        <p>(383) 356-1Посмотреть телефон
        </p>
        <p>
        <ul>
            <li>Наличный расчет</li> <li>Visa</li><li> MasterCard</li>
        </p> <a href=""><p >Аптеки</p></a>

    </div>
    </div>
</div>
</body>
</html>